---
import "../style/style.css";
import HeroCards from "../components/heroCards.astro";
import MinionCards from "../components/minionCards.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="favicon.svg" />
    <title>バトルグラウンド攻略サイト</title>
    <script
      type="text/partytown"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3676689120783487"
      crossorigin="anonymous"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q5FCZYQXF"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2Q5FCZYQXF");
  </script>

  <body>
    <header>
      <h1>バトルグラウンド攻略サイト</h1>
      <nav>
        <ul>
          <li><a href="#hero">各種ヒーロー解説</a></li>
          <li><a href="#minion">各種ミニオン解説</a></li>
          <li><a href="/privacy-policy">このサイトについて</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section id="hero">
        <h2>各種ヒーロー解説</h2>
        <label>
          画像表示
          <input type="checkbox" id="is-display-hero-img" checked />
        </label>
        <label>
          効果表示
          <input type="checkbox" id="is-display-hero-power" />
        </label>
        <HeroCards />
      </section>
      <section id="minion">
        <h2>各種ミニオン解説</h2>
        <label>
          画像表示
          <input type="checkbox" id="is-display-minion-img" checked />
        </label>
        <label>
          効果表示
          <input type="checkbox" id="is-display-minion-power" />
        </label>
        <MinionCards />
      </section>
    </main>

    <footer>
      <p>&copy; 2024 バトルグラウンド攻略サイト</p>
    </footer>
  </body>
</html>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const isDisplayHeroImg = document.getElementById(
      "is-display-hero-img"
    ) as HTMLInputElement;
    const isDisplayHeroPower = document.getElementById(
      "is-display-hero-power"
    ) as HTMLInputElement;

    function toggleImg() {
      const images = document.querySelectorAll(
        "#cards-container img"
      ) as NodeListOf<HTMLElement>;
      images.forEach(function (img) {
        img.style.display = isDisplayHeroImg.checked ? "block" : "none";
      });
    }

    function togglePower() {
      const heroPowers = document.querySelectorAll(
        "#cards-container .hero-power"
      ) as NodeListOf<HTMLElement>;
      heroPowers.forEach(function (heroPower) {
        heroPower.style.display = isDisplayHeroPower.checked ? "block" : "none";
      });

      const heroArmors = document.querySelectorAll(
        "#cards-container .hero-armor"
      ) as NodeListOf<HTMLElement>;
      heroArmors.forEach(function (heroPower) {
        heroPower.style.display = isDisplayHeroPower.checked ? "block" : "none";
      });
    }

    isDisplayHeroImg.addEventListener("change", toggleImg);
    isDisplayHeroPower.addEventListener("change", togglePower);
  });

  document.addEventListener("DOMContentLoaded", function () {
    const isDisplayHeroImg = document.getElementById(
      "is-display-minion-img"
    ) as HTMLInputElement;
    const isDisplayHeroPower = document.getElementById(
      "is-display-minion-power"
    ) as HTMLInputElement;

    function toggleImg() {
      const images = document.querySelectorAll(
        "#minion-cards-container img"
      ) as NodeListOf<HTMLElement>;
      images.forEach(function (img) {
        img.style.display = isDisplayHeroImg.checked ? "block" : "none";
      });
    }

    function togglePower() {
      const heroPowers = document.querySelectorAll(
        "#minion-cards-container .minion-power"
      ) as NodeListOf<HTMLElement>;
      heroPowers.forEach(function (heroPower) {
        heroPower.style.display = isDisplayHeroPower.checked ? "block" : "none";
      });
    }

    isDisplayHeroImg.addEventListener("change", toggleImg);
    isDisplayHeroPower.addEventListener("change", togglePower);
  });
</script>
