---
import "../../style/style.css";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../../favicon.svg" />
    <title>バトルグラウンド攻略サイト</title>
    <script
      type="text/partytown"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3676689120783487"
      crossorigin="anonymous"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2Q5FCZYQXF"
  ></script>
  <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-2Q5FCZYQXF");
  </script>

  <body>
    <header>
      <h1>バトルグラウンド攻略サイト</h1>
      <nav>
        <ul>
          <li><a href="../..#hero">各種ヒーロー解説</a></li>
          <li><a href="../..#minion">各種ミニオン解説</a></li>
          <li><a href="">このサイトについて</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>プライバシーポリシー</h2>

        <h3>広告について</h3>

        <p>
          当ブログでは、第三者配信の広告サービス（Googleアドセンス）を利用しており、ユーザーの興味に応じた商品やサービスの広告を表示するため、クッキー（Cookie）を使用しております。
          クッキーを使用することで当サイトはお客様のコンピュータを識別できるようになりますが、お客様個人を特定できるものではありません。
        </p>

        <p>
          Cookieを無効にする方法やGoogleアドセンスに関する詳細は「広告 –
          ポリシーと規約 – Google」をご確認ください。
        </p>

        <h3>アクセス解析ツールについて</h3>
        <p>
          当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。
        </p>
      </section>
    </main>
    <footer>
      <p>&copy; 2024 バトルグラウンド攻略サイト</p>
    </footer>
  </body>
</html>
