body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding-top: 150px;
}

section {
  padding: 20px;
  margin: 20px 0;
  padding-top: 150px;
  margin-top: -150px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

h3 {
  font-size: medium;
  margin: 4px;
}

p.hero-power,
p.minion-power {
  font-size: x-small;
}

.hero-power,
.minion-power {
  display: none;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#minion-cards-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
#cards-container a,
#minion-cards-container a {
  text-decoration: none;
  color: #333;
}
.hero-item img,
.minion-item img {
  margin: auto;
}
.hero,
.minion {
  border-style: solid;
}
.hero-item,
.minion-item {
  text-align: center;
}

/* モバイルデバイス用のスタイル */
@media screen and (max-width: 600px) {
  header {
    padding: 0.3rem 0;
  }

  nav ul li {
    display: block;
    margin-right: 0;
  }

  #cards-container,
  #minion-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-power,
  .minion-power {
    display: none;
  }
}
